html, body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #122c38;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  color: #e1f4f3;
}

p {
  color: #e1f4f3;
  font-size: 1.3rem;
  margin: 0;
}

a {
  color: #e1f4f3;
}

a:hover
{
  text-decoration:none;
  color:inherit;
}

.container-fluid {
  padding: 7% 15%;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  margin: auto;
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: lighter;
}

.btn-field {
  margin: 10px 5px;
}

.hide {
  visibility: hidden;
}

.greeting {
  color: #40bad5;
}

/* List View */

.hide {
  visibility: hidden;
}

.description {
  margin: 20px 0;
  font-style: italic;
}

.btn-add {
  width: 100%;
}

.btn-margin {
  margin: 10px 0;
}

.single-item {
  margin: 5px 0;
  background-color: #006a71;
  text-align: left;
  border-radius: 10px;
}

.item-txt {
  display: block;
  padding-left: 12px;
}

.item-txt-crossed {
  display: block;
  padding-left: 12px;
  /* text-decoration: line-through; */
}

.single-item-crossed {
  margin: 5px 0;
  background-color: #278123;
  text-align: left;
  border-radius: 10px;
}

.check {
  width: 15px;
  height: 15px;
}

.err-msg {
  color: #dd3546;
  font-size: medium;
  font-style: italic;
}

.btn-item-margin {
  width: 20px;
  height: 18px;
  float: right;
  margin: 3px 10px 3px 0;
  padding: 0;
}

.tiny-trash-div {
  margin-top: -6px;
}

.trash-font {
  font-size: 8px;
}

/* Footer Section */

.container-fluid-footer {
  padding: 13% 15% 1%;
}

.table-bottom {
  margin: auto;
}

.fas-bottom {
  color: #fff;
  padding: 0 10px 20px;
}

.copyright-para {
  font-size: 1rem;
}