html, body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #122c38;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  color: #e1f4f3;
}

p {
  color: #e1f4f3;
  font-size: 1.3rem;
  margin: 0;
}

a {
  color: #e1f4f3;
}

a.footer-env-link:hover
{
  text-decoration:none;
  color: black;
}

a:hover {
  text-decoration:none;
  color: #e1f4f3;
}

.img-style-signup {
  margin-top: 170px;
  height: 370px;
  width: auto;
}

.img-style-login {
  margin-top: 70px;
  height: 370px;
  width: auto;
}

/* Log In */

.left-col {
  width: 50%;
  float: left;
}

.right-col {
  width: 50%;
  float: left;
  margin: auto;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .left-col {
    width: 100%;
    float: none;
  }
  .right-col {
    width: 500px;
    margin: auto;
    float: none;
  }
  .img-style-signup {
    margin-top: 100px;
  }
}

.central-square {
  margin:20px auto;
  padding: 2% 0;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.3);
}

.field {
  margin: 5px auto;
  width: 210px;
}

.btn-auth {
  margin: 0 5px;
  width: 210px;
}

.btn-google {
  width: 210px;
}

.btn-fb {
  width: 210px;
  background-color: #4267b2;
}

.hide {
  visibility: hidden;
}

.err-msg {
  color: #dd3546;
  font-size: medium;
  font-style: italic;
}

.or-table-struc {
  margin: auto;
}

.or-table-col {
  padding: 5px;
}

.or-lines {
  border: 2px solid #40bad5; 
  border-radius: 5px; 
  width: 110px;
}

.sign-in-link {
  margin: 20px 0;
}

.google-sign-in-link {
  color: #dd3546;
}

.fb-sign-in-link {
  color: #4267b2;
}

.to-sign-up{
  font-size: medium;
}

.to-sign-up-link {
  color: #40bad5;
}

/* SignUp */

.sign-up-slogan {
  margin:10px 40px;
}

.sign-up-slogan-p { 
  color: #40bad5;
  font-size: medium;
}

/* Footer Section */

.container-fluid-footer {
  padding: 3% 15% 1%;
}

.table-bottom {
  margin: auto;
}

.fas-bottom {
  color: #fff;
  padding: 0 10px 20px;
}

.copyright-para {
  font-size: 1rem;
}