html, body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #122c38;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  color: #e1f4f3;
}

p {
  color: #e1f4f3;
  font-size: 1.3rem;
  margin: 0;
}

a {
  color: #e1f4f3;
}

a:hover
{
  text-decoration:none;
  color:inherit;
}

.container-fluid {
  padding: 7% 15%;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  margin: auto;
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: lighter;
}

.table-struc {
  margin: 50px auto 0;
}

.table-col {
  margin: 10px;
}

.central-square {
  margin: auto;
  margin-top: 20px;
  padding: 2% 0;
  background-color: #776d8a;
  border-radius: 15px;
}

.list-item {
  margin: auto;
}

.field {
  margin: 5px 0;
}

.btn-field {
  margin: 10px 5px;
}

.hide {
  visibility: hidden;
}

.greeting {
  margin-top: 10px;
}

.btn-central-menu {
  margin: 40px 50px 10px 50px;
}

/* Footer Section */

.container-fluid-footer {
  padding: 13% 15% 1%;
}

.table-bottom {
  margin: auto;
}

.fas-bottom {
  color: #fff;
  padding: 0 10px 20px;
}

.copyright-para {
  font-size: 1rem;
}