html, body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #122c38;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  color: #e1f4f3;
}

p {
  color: #e1f4f3;
  font-size: 1.3rem;
  margin: 0;
}

a {
  color: #e1f4f3;
}

a:hover
{
  text-decoration:none;
  color:inherit;
}

.top-title {
  margin-top: 30px;
}

.table-struc {
  margin: 50px auto 0;
}

.table-col {
  margin: 10px;
}

.central-square {
  margin: auto;
  margin-top: 20px;
  padding: 2% 0;
  width: 300px;
}

.field {
  margin: 5px 0;
}

.btn {
  margin: 10px 5px;
}

.hide {
  visibility: hidden;
}

.greeting {
  color: blueviolet;
}

/* Footer Section */

.container-fluid-footer {
  padding: 13% 15% 1%;
}

.table-bottom {
  margin: auto;
}

.fas-bottom {
  color: #fff;
  padding: 0 10px 20px;
}

.copyright-para {
  font-size: 1rem;
}