html, body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-image: url(../images/to-dos-background-2.png);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

p {
  color: #e1f4f3;
  font-size: 1.3rem;
  margin: 0;
}

a {
  color: #8F8F8F;
}

a:hover
{
  text-decoration:none;
  color:inherit;
}

.top-title {
  margin-top: 30px;
  color: #e1f4f3;
}

.central-square {
  margin: auto;
  margin-top: 10%;
  padding: 2% 0;
}

.btn {
  margin:0 20px;
}

.btn-table {
  margin: auto;
}

/* Containers */

.container-fluid {
  padding: 0 15%;
}

/* Footer Section */

.container-fluid-footer {
  padding: 13% 15% 1%;
}

.table-bottom {
  margin: auto;
}

.fas-bottom {
  color: #fff;
  padding: 0 10px 20px;
}

.copyright-para {
  font-size: 1rem;
}
